* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  width: 100%;
}

.mongus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

input, select, span {
  width: 18rem;
  height: 2rem;
  font-size: 1.5rem;
}

